In [1]:
# program to predict the Income of People
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

# read csv file
df = pd.read_csv('https://raw.githubusercontent.com/dsrscientist/dataset3/main/weatherAUS.csv')
df.columns = df.columns.str.replace(' ','_')
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8420,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
8421,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
8422,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
8423,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
8424,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [ ]:
# check size of dataset
df.shape

In [ ]:
df.describe()

In [ ]:
# check for any null values
sns.heatmap(df.isnull())
plt.title('Null Values')
plt.show()

In [ ]:
# summing up total null values in dataset
df.isnull().sum().sum()

In [ ]:
# getting all column names to observe type of variables
df.columns

In [ ]:
df['police_report_available'].value_counts()

In [ ]:
df['policy_state'].value_counts()

In [ ]:
df['Marital_status'].value_counts()

In [ ]:
df['Occupation'].value_counts()

In [ ]:
df['Race'].value_counts()

In [ ]:
df['Relationship'].value_counts()

In [ ]:
df['Native_country'].value_counts()

In [ ]:
df['Income'].value_counts()

In [ ]:
df['Capital_gain'].value_counts()

In [ ]:
df['Capital_loss'].value_counts()

In [ ]:
df

In [ ]:
# summing up total null values in dataset again
df.isnull().sum().sum()

In [ ]:
df.corr()

In [ ]:
# checking corelation
corr_mat = df.corr()
plt.figure(figsize=(22,7))
sns.heatmap(corr_mat,annot=True,linewidths=0.1,linecolor='black',fmt='0.2f')

In [ ]:
# encoding string type data to use them in plotting and making model on basis of observations
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
df['Education'] = LE.fit_transform(df['Education'])

In [ ]:
LE2 = LabelEncoder()
df['Marital_status'] = LE2.fit_transform(df['Marital_status'])

In [ ]:
LE3 = LabelEncoder()
df['Occupation'] = LE3.fit_transform(df['Occupation'])

In [ ]:
LE4 = LabelEncoder()
df['Race'] = LE4.fit_transform(df['Race'])

In [ ]:
LE5 = LabelEncoder()
df['Relationship'] = LE5.fit_transform(df['Relationship'])

In [ ]:
LE6 = LabelEncoder()
df['Sex'] = LE6.fit_transform(df['Sex'])

In [ ]:
LE7 = LabelEncoder()
df['Native_country'] = LE7.fit_transform(df['Native_country'])

In [ ]:
LE8 = LabelEncoder()
df['Income'] = LE8.fit_transform(df['Income'])

In [ ]:
LE9 = LabelEncoder()
df['Workclass'] = LE9.fit_transform(df['Workclass'])

In [ ]:
LE.inverse_transform([0,1,2,3,4,5])

In [ ]:
LE2.inverse_transform(df['Marital_status'])

In [ ]:
# plotting density of values in each column
import warnings
plt.figure(figsize=(15,20),facecolor='white')
plotnumber = 1

for column in df:
    if plotnumber<=11:
        ax = plt.subplot(3,4,plotnumber)
        sns.distplot(df[column])
        plt.xlabel(column,fontsize=10)
    plotnumber+=1
plt.tight_layout()

In [ ]:
# Preprocessing
# spliting dependent and independent variables on x and y axis
x = df.drop('Income',axis=1)
y = df['Income']

In [ ]:
x

In [ ]:
y

In [ ]:
x.dtypes

In [ ]:
# making scatter plot of Income vs other independent variables in dataset for observations
plt.figure(figsize=(15,20),facecolor='white')
plotnumber = 1

for column in x:
    if plotnumber<=10:
        ax = plt.subplot(4,4,plotnumber)
        plt.scatter(x[column],y)
        plt.xlabel(column,fontsize=10)
        plt.ylabel('Income',fontsize=10)
    plotnumber+=1
plt.tight_layout()

In [ ]:
# use Random Forest to make model for Income prediction
from sklearn.model_selection import train_test_split
import seaborn as sns
import pickle

import warnings
warnings.filterwarnings('ignore')

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.30,random_state=60)
y_train.head()

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators= 101, n_jobs=-1)
rf.fit(x_train,y_train)

In [ ]:
y_pred = rf.predict(x_test)

In [ ]:
# find accuracy of predictions made by comparing to test sample
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

In [ ]:
# save model in pickle file
import pickle
filename= 'Census_Income_model.pickle'
pickle.dump(RandomForestClassifier,open(filename,'wb'))